@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #E5989B;
    --secondary-color: #FFC9CB;
    --tertiary-color: #B5838D;
    --quartery-color: #6D6875;
    --primary-font-family: 'Josefin Sans', sans-serif;
    --grey-font-color: #4A494C;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
}
.text-grey{
    color: var(--grey-font-color);
}
.text-secondary-color{
    color: var(--secondary-color);
}
.bg-primary-color{
    background-color: var(--primary-color);
}
.bg-secondary-color{
    background-color: var(--secondary-color);
}
.bg-tertiary-color{
    background-color: var(--tertiary-color);
}
.bg-quartery-color{
    background-color: var(--quartery-color);
}
.border-secondary-color{
    border: 4px solid var(--secondary-color);
}
p{
    font-size: 1.5rem;
    text-wrap: balance;
    line-height: 1.2!important;
}
h2{
    font-size: 2.8rem;
    font-weight: 600;
    text-wrap: balance;
}
main{
    overflow-x: hidden;
}
#banner{
    width: 100%;
    position: relative;
    background: url(../assets/img/hero-bg.png) center bottom no-repeat;
    background-size: cover;
    padding: 20px 0 80px 0;
}
#banner h1{
    font-size: 3rem;
    text-wrap: balance;
}

#que-son-amigurumis{
    width: 100%;
    position: relative;
    background: url(../assets/img/bg-2-v2.png) right top no-repeat;
    background-size: cover;
    height: 65vh;
    padding: 40px 0 80px 0;
}
#galeria a{
    font-size: 1.5rem;
}

#personalizado img{
    width: 30vw;
}
#preguntas p{
    padding: 0 1.1rem!important;
    text-wrap:wrap;
}
#contactanos span, #contactanos a{
    font-size: 1.2rem;
    text-wrap: balance;
}
#firma{
    width: 100%;
    position: relative;
    background: url(../assets/img/bg-firma.png) left center repeat-x;
    background-size: contain;
    height: 9vh;
}
@media (min-width: 768px){
    #banner h1{
        font-size: 3.5rem;
        line-height: 1.2!important;
    }
    #conocenos{
        margin-bottom: 2rem;
    }
    #que-son-amigurumis{
        background: url(../assets/img/bg-2-v2.png) center top no-repeat;
        height: 45vh;
        padding: 100px 0 80px 0; 
    }
}
@media (min-width: 992px){
    #banner h1{
        font-size: 4rem;
    }
    #galeria img{
        width: 50%!important;
    }
}